
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h1 class="bg-primary">Primary Index</h1>
<h1 class="bg-danger">Danger Index</h1>
<h1 class="bg-success">Success Index</h1>

