@model List<Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Displaying Employee information</h2>
@{
    foreach(var emp in Model)
    {
        <h3>ID: @emp.EmpId</h3>
        <h3>NAME: @emp.EmpName</h3>
        <h3>DESIGNATION: @emp.EmpDesig</h3>
        <h3>SALARY: @emp.EmpSal</h3>
        <br />
    }
}
